@import "_settings";
@import "_config";
@import "_mixins";

body {
    padding: 0;
    margin: 0;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#mainContent {
    position: relative;

    width: $width;
    height: $height;
    overflow: hidden;
    box-sizing: border-box;

    cursor: pointer;
    transform: rotate(0deg);

    text-align:center;
    border: 1px solid black;
    background: $backgroundColor ;
    background-size: cover;

    div, svg,canvas,img{
        position: absolute;
    }
}
#outer_circle{
    left:-1px;
}

#hourGlass{
    top: 90px;
    left: 150px;
    overflow:hidden;
}

#hourGlassSubcontainer{
    top: 132px;
    left: 131px;
    border-left: 20px solid transparent;
    border-right: 22px solid transparent;
    border-top: 20px solid #293f4e;
    border-radius: 26%;   
}

.sandContainer{
    transform-origin:50% 50%;
    width: 300px;
    height: 300px;
    left: -50px;
}

#upperSand{
  width: 0; 
  height: 0; 
  left: 182px;
  top: 130px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #2c3e4e;
}
#lowerSand{
  width: 0; 
  height: 0; 
  top: 174px;
  left: 181px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 22px solid #2c3e4e;
  transform:scale(0.05);
  transform-origin:50% 100%;
}
#inner_circle{  
  left:0; 
  stroke-dasharray: 820;
  stroke-dashoffset: 820;
  
  
}
.doAnimation{
  
  animation: dash 6s linear 5;
}
.sandDot1,.sandDot2,.sandDot3,.sandDot4,.sandDot5{
    width: 2px;
    height: 4px;
    border-left: 2px solid #2c3e4e;
    left: 200px;
    top: 146px;
}
.sandDot1{top:146px;}.sandDot2{top:153px;} .sandDot3{top:160px;} .sandDot4{top:167px;} .sandDot5{top:174px;}

@keyframes dash {
  to {
    stroke-dashoffset: -820;
  }
}